%code-ligature {
	@extend %fira-code;
}
%code-noligature {
	font-family: "Fira Mono", "Ricty", "Source Han Code JP", "Inconsolata", "Source Code Pro", monospace;
}

%code-inline {
	border: 1px solid #eeeef8;
	border-radius: 0.2em;
	padding: 0 0.2em;
	background: #f4f4f4;
	display: inline-block;
	@extend %code-ligature;
}

%code-block {
	display: block;
	border: 1px solid #eeeef8;
	padding: 0.3rem 0.3rem;
	background: #f4f4f4;
	@extend %code-ligature;
}

pre.code {
	@extend %code-block;
}
pre >code {
	@extend %code-block;
	// `pre` has margin and border.
	margin: 0;
	padding: 0;
	border: none;
}

pre.code.code-terminal {
	font-weight: normal;
	background: black;
	color: #ccc;
	>kbd {
		color: #f84;
		font-weight: bolder;
	}
}

:not(pre):not(.code) >code {
	@extend %code-inline;
}

code {
	&.filepath {
		@extend %code-noligature;
		&::before {
			// f016: fa-file-o
			@include font-awesome("\f016\20");
		}
	}
	&.dirpath {
		@extend %code-noligature;
		&::before {
			// f114: fa-folder-o
			@include font-awesome("\f114\20");
		}
	}
}
