%docbook-preserve-spaces {
	white-space: pre;
}

pre {
	&.#{$docbook-class-prefix}programlisting {
		white-space: normal;

		>code {
			@extend %docbook-preserve-spaces;
		}
	}

	&.#{$docbook-class-prefix}screen {
		white-space: normal;

		>samp {
			@extend %docbook-preserve-spaces;
		}
	}

	&.#{$docbook-class-prefix}literallayout {
		@extend %docbook-preserve-spaces;

		&[data-docbook-literallayout-class="normal"] {
			font-family: inherit;
		}
		&[data-docbook-literallayout-class="monospaced"] {
			font-family: $font-family-monospace;
		}
	}
}

.#{$docbook-class-prefix}formalpara {
	>.#{$docbook-class-prefix}title {
		@extend %paragraph-title
	}
}

.#{$docbook-class-prefix}blockquote {
	.#{$docbook-class-prefix}attribution {
		@extend %blockquote-attribution;
	}
}

.#{$docbook-class-prefix}screen {
	&[data-docbook-role~="terminal"] {
		@extend %code-terminal;

		.#{$docbook-class-prefix}userinput {
			@extend %code-terminal-userinput;
		}
	}
}
