mark {
	background: yellow;
}

ins {
	@extend %inserted-part-inline;
}

del {
	@extend %deleted-part-inline;
}

strong {
	font-weight: bolder;

	strong {
		text-decoration: underline solid red;

		strong {
			text-decoration: underline double red;
		}
	}
}

em {
	font-weight: bolder;
	font-style: italic;

	em {
		text-decoration: underline solid red;

		em {
			text-decoration: underline double red;
		}
	}
}

abbr[title] {
	border: none;
	text-decoration: underline dotted;
}

a {
	&, &:visited {
		color: #c86868;
		text-decoration: none;
	}
	&:hover {
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
	height: auto;
}

rt {
	// This would have been cleared by sanitize.css.
	font-size: 50%;
}
