a.permalink::after {
	display: inline-block;
	margin-left: 0.2em;
	visibility: hidden;
	color: #aaa;
	// U+00A7 SECTION SIGN
	// U+1F517 LINK SYMBOL
	content: "\1f517";

	:hover >& {
		visibility: visible;
		text-decoration: none;
	}
}
