$vertical-unit: 1.5rem !default;
$font-family-monospace: monospace !default;
$font-family-code: "Fira Mono", "Ricty", "Source Han Code JP", "Inconsolata", "Source Code Pro", $font-family-monospace !default;
$font-family-codeblock: $font-family-code !default;
$font-family-terminal: $font-family-code !default;
$hr-border-top: 1px solid #aaa !default;

@import 'responsive';

@import 'inline';
@import 'block';
@import 'code';
@import 'footnote';
