%content-block {
	margin: $vertical-unit 0;
}

%paragraph-title {
	color: brown;
	font-weight: bolder;
	border-left: 0.5rem solid brown;
	padding-left: 0.5rem;
	line-height: $vertical-unit;
	margin-bottom: 0;

	& + * {
		margin-top: 0;
	}
}

%blockquote-attribution {
	&::before {
		content: "―― ";
	}
}

%admonition-block {
	@extend %content-block;
	padding: 0.2rem 0.5rem;

	>h1, >h2, >h3, >h4, >h5, >h6 {
		@extend %admonition-block-title;

		&:first-child {
			margin-top: 0;
		}
	}

	>:last-child,
	div:last-child >:last-child {
		margin-bottom: 0;
	}
}

%admonition-block-title {
	all: unset;
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem 0;
}

%admonition-block-before-icon {
	display: inline-block;
	//font-size: 2rem; // For icon character.
	font-size: 1em; // For text label.
	font-weight: normal;
	margin: 0 0.5rem;
}
