%filepath-file {
	&::before {
		// U+1F5C5 EMPTY NOTE
		content: "\1f5c5";
		margin-right: 0.1em;
	}
}

%filepath-directory {
	&::before {
		// U+1F5C0 FOLDER
		// U+1F5C1 OPEN FOLDER
		content: "\1f5c1";
		margin-right: 0.1em;
	}
}

%inserted-part-inline {
	&::before {
		background: #dfd;
		text-decoration: none;
		// U+1F589 LOWER LEFT PENCIL
		// U+2711 WHITE NIB
		content: "\1f589";
	}
}

%deleted-part-inline {
	&::before {
		background: #fdd;
		text-decoration: none;
		// U+1F5D1 WASTEBASKET
		// U+1F5D9 CANCELLATION X
		content: "\1f5d1";
	}
}
