%filepath-file {
	&::before {
		// U+1F5C5 EMPTY NOTE
		content: "\1f5c5";
		margin-right: 0.1em;
	}
}

%filepath-directory {
	&::before {
		// U+1F5C0 FOLDER
		// U+1F5C1 OPEN FOLDER
		content: "\1f5c1";
		margin-right: 0.1em;
	}
}
