---
title: とっぷぺーじ
created_at: 2016-03-12T00:40:15+0900
---

<section>
	<h1><span title="ょぅι゛ょの">何とは言わない</span>天然水飲みたい</h1>
	<section>
		<h2><i class="fa fa-clock-o"></i> Archive</h2>
		<ul>
			<li>
				<%= link_to '<i class="fa fa-list"></i> 一覧', @items[source_path_for_article_list] %>
			</li>
			<li>
				<%= link_to '<i class="fa fa-calendar"></i> 日付', @items[source_path_for_archive] %>
			</li>
		</ul>
	</section>
	<section>
		<h2>Recent articles</h2>
		<%= render '/part/item-list.*', target_items: sorted_articles[0...10], header_level: 3 %>
	</section>
	<section>
		<h2><i class="fa fa-user"></i> おまえだれ</h2>
		<%= link_to 'あばうと', @items['/about.xhtml'] %>
	</section>
</section>
