$vertical-unit: 1.5rem;

@mixin headers {
	>h1, >h2, >h3, >h4, >h5, >h6 {
		@content;
	}
}

@import 'page-base';
@import 'responsive';

%reset {
	all: unset;
}

%reset-block {
	@extend %reset;
	display: block;
}

%independent-block {
	margin: $vertical-unit 0;
}
