<% if next_year4 = @item[:next_year4]
		next_year_item = @items[source_path_for_archive(next_year4)]
		next_year_link = link_to "&laquo; #{next_year4}年", next_year_item
	end %>
<% if prev_year4 = @item[:prev_year4]
		prev_year_item = @items[source_path_for_archive(prev_year4)]
		prev_year_link = link_to "#{prev_year4}年 &raquo;", prev_year_item
	end %>
<% render '/page-base.*',
		prev_uri: next_year_item&.path,
		next_uri: prev_year_item&.path do %>
<% year4 = @item[:year4] %>

<section>
	<h1>Archive: <%= year4 %>年</h1>
	<aside>
		<div class="next-prev-link grid-row">
			<div class="prev-link col-xs-12 col-md-6">
				<%= next_year_link %>
			</div>
			<div class="next-link col-xs-12 col-md-6 col-xs-end">
				<%= prev_year_link %>
			</div>
		</div>
	</aside>

	<% @item[:months].each do |_month, month2, fl| %>
		<% first_index, last_index = fl %>
		<section>
			<h2><%= link_to "#{year4}/#{month2}", @items[source_path_for_archive(year4, month2)] %></h2>
			<%= render '/part/item-list.*', target_items: sorted_articles[first_index..last_index], header_level: 3 %>
		</section>
	<% end %>

	<aside>
		<div class="next-prev-link grid-row">
			<div class="prev-link col-xs-12 col-md-6">
				<%= next_year_link %>
			</div>
			<div class="next-link col-xs-12 col-md-6 col-xs-end">
				<%= prev_year_link %>
			</div>
		</div>
	</aside>
</section>

<% end %>
