<% render '/page-base.*' do %>

<section>
	<h1><%= @item[:title] %></h1>
	<table>
		<style type="text/css" scoped="scoped">
			td {
				text-align: center;
			}
		</style>
		<tbody>
			<% @item[:year_months].each do |year, months| %>
				<% year4 = sprintf('%04d', year) %>
				<tr>
					<th>
						<%= link_to "#{year4} 年", @items[source_path_for_archive(year4)] %>
					</th>
					<% (1..12).each do |month| %>
						<td>
							<% if months.include?(month) %>
								<% month2 = sprintf('%02d', month) %>
								<%= link_to "#{month2}", @items[source_path_for_archive(year4, month2)] %>
							<% else %>
								-
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</section>

<% end %>
