<% render '/page-base.*' do %>
<% year4 = @item[:year4] %>

<section>
	<h1>Archive: <%= year4 %>年</h1>
	<aside>
		<div class="next-prev-link grid-row">
			<div class="prev-link col-xs-12 col-md-6">
				<% if @item[:next_year4] %>
					<%= link_to "&laquo; #{@item[:next_year4]}年", "/#{@item[:next_year4]}/" %>
				<% end %>
			</div>
			<div class="next-link col-xs-12 col-md-6 col-xs-end">
				<% if @item[:prev_year4] %>
					<%= link_to "#{@item[:prev_year4]}年 &raquo;", "/#{@item[:prev_year4]}/" %>
				<% end %>
			</div>
		</div>
	</aside>

	<% @item[:months].each do |m_m2_fl| %>
		<% month = m_m2_fl[0] %>
		<% month2 = m_m2_fl[1] %>
		<% first_index = m_m2_fl[2][0] %>
		<% last_index = m_m2_fl[2][1] %>
		<section>
			<h2><%= link_to "#{year4}/#{month2}", "/#{year4}/#{month2}/" %></h2>
			<%= render '/part/item-list.*', target_items: sorted_articles[first_index..last_index], header_level: 3 %>
		</section>
	<% end %>

	<aside>
		<div class="next-prev-link grid-row">
			<div class="prev-link col-xs-12 col-md-6">
				<% if @item[:next_year4] %>
					<%= link_to "&laquo; #{@item[:next_year4]}年", "/#{@item[:next_year4]}/" %>
				<% end %>
			</div>
			<div class="next-link col-xs-12 col-md-6 col-xs-end">
				<% if @item[:prev_year4] %>
					<%= link_to "#{@item[:prev_year4]}年 &raquo;", "/#{@item[:prev_year4]}/" %>
				<% end %>
			</div>
		</div>
	</aside>
</section>

<% end %>
