mark {
	background: yellow;
}

strong {
	font-weight: bolder;

	strong {
		text-decoration: underline solid red;

		strong {
			text-decoration: underline double red;
		}
	}
}

em {
	font-weight: bolder;
	font-style: italic;

	em {
		text-decoration: underline solid red;

		em {
			text-decoration: underline double red;
		}
	}
}

abbr[title] {
	border: none;
	text-decoration: underline dotted;
}

rt {
	// This would have been cleared by sanitize.css.
	font-size: 50%;
}
