// Fira Code.
// Use rawgit.com.
// See https://github.com/tonsky/FiraCode/issues/18#issuecomment-259201273 ,
// https://github.com/tonsky/FiraCode/blob/1.204/distr/fira_code.css ,
// and https://github.com/tonsky/FiraCode/issues/106 .
// TODO: https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css can be used?
//       (This css (1.204) has no `local()`, `font-feature-settings`, and iefix hack.)
@include scss-local-scope() {
	$name: "Fira Code";
	// weights: remote url suffix, local font name suffix (optional)
	$weights: (
		300: "Light",
		400: "Regular",
		500: "Medium",
		700: "Bold" "bold",
	);
	$style: normal;
	$local-prefixes: "Fira Code";
	$exts: "eot?#iefix" woff2 woff ttf;

	@each $weight, $weight-names in $weights {
		$remote-weight: nth($weight-names, 1);
		$local-weight: $remote-weight;
		@if length($weight-names) >= 2 {
			$local-weight: nth($weight-names, 2);
		}
		$local-fonts: ();
		@each $local-prefix in $local-prefixes {
			$local-fonts: append($local-fonts, $local-prefix + " " + $local-weight, comma);
		}

		$src: ();
		@if $local-fonts {
			@each $local in $local-fonts {
				$src: append($src, local(quote($local)), comma);
			}
		}

		// URL is like `https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/woff2/FiraCode-Regular.woff2`.
		$dist_url_base: "https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/";

		$formats: (
			eot: "embedded-opentype",
			"eot?#iefix": "embedded-opentype",
			otf: "opentype",
			svg: "svg",
			ttf: "truetype",
			woff: "woff",
			woff2: "woff2",
		);
		@each $ext in $exts {
			$format: map-get($formats, $ext);
			$src: append($src, url($dist_url_base + quote($ext) + "/FiraCode-" + $remote-weight + '.' + quote($ext)) format(quote($format)), comma);
		}

		@font-face {
			font-family: quote($name);
			font-style: $style;
			font-weight: $weight;
			@if index($exts, "eot?#iefix") {
				src: url(quote($dist_url_base) + "eot/FiraCode-" + $remote-weight + ".eot");
			}
			src: $src;
			font-feature-settings: "liga", "clig", "calt";
			//text-rendering: optimizeLegibility;
		}
	}
}
%fira-code {
	// Fira Code: https://github.com/tonsky/FiraCode (-> Fira Mono)
	// Monoid: https://github.com/larsenwork/monoid
	// Hasklig: https://github.com/i-tu/Hasklig (-> Source Code Pro)
	// Fira Mono: https://github.com/mozilla/Fira
	// [jp] Ricty: http://www.rs.tus.ac.jp/yyusa/ricty.html (-> Inconsolata)
	// [jp] Source Han Code JP: https://github.com/adobe-fonts/source-han-code-jp (-> Source Code Pro)
	// Inconsolata: http://levien.com/type/myfonts/inconsolata.html
	// Source Code Pro: https://github.com/adobe-fonts/source-code-pro
	font-family: "Fira Code", "Monoid", "HaskLig", "Fira Mono", "Ricty", "Source Han Code JP", "Inconsolata", "Source Code Pro", monospace;
	text-rendering: optimizeLegibility;
}
